textarea {
    min-height: 400px;
}

/* Email view */

.submit {
    margin-block: 1rem;
}

.mail {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid black;
    position: relative;
    cursor: pointer;
}

.mail p {
    padding: .5rem;
    margin: 0;
}

.mail-sender {
    font-weight: 700;
}

.mail-subject {
    font-size: 1.1rem;
}

.mail-time {
    font-size: 1rem;
    position: absolute;
    color: gray;
    right: 0;
}

.archive {
    position: absolute;
    right: 11.5rem;
}

.unarchive {
    position: absolute;
    right: 11.5rem;
}

.read {
    background: rgba(0, 0, 0, 0.138);
}

#mail-view div{
    margin-top: .7rem;
}

.reply {
    margin-block: .7rem;
}

.body {
    padding-top: 1rem;
    border-top: 1px solid gray;
}

.mail-view-all b {
    width: 10rem;
}